.link a{
	text-decoration: none;
	color: black; 
	font-family: "Helvetica";
}

html {
    background-color: #F2F2F2
}

div a {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
	font-size: 34px;
	text-align: center;
	font-family: "Helvetica";
}
